div(class="cntHeader")
  div(class="cntLogoHeader")
    img(src="./images/logo.png", alt="logo_empresa" class="imgLogo")
    h1 Lubricentro Carlitos
  div
    a(href="./login.html" class="btn") Acceder