<!DOCTYPE html>
html
  head
    include ./partials/head.pug
    include ./partials/head_index.pug
    title Lubricentro
  body
    header
      include ./partials/header.pug
    main
      div(class="cntMain")
        div(class="cntCard")
          div(class="cntContentCard")
            img(src="./images/gulf_1.png", alt="gulf1" class="imgCard")
            h3 Gulf
            p Max Ultra Plus Semi-Sintetico 10W-40
            p $8950
            p Cant: 5
          div(class="cntBtnCard")
            a(href="./sale.html" class="btn btnSaleCard") Vender
        div(class="cntCard")
          div(class="cntContentCard")
            img(src="./images/mobil_1.png", alt="mobil1" class="imgCard")
            h3 Mobil
            p Super Dexos Sintetico 5W-30
            p $13900
            p Cant: 2
          div(class="cntBtnCard")
            a(href="./sale.html" class="btn btnSaleCard") Vender
        div(class="cntCard")
          div(class="cntContentCard")
            img(src="./images/motorcraft_1.png", alt="motorcraft1" class="imgCard")
            h3 Motorcraft
            p Premium Sintetico 5W-30
            p $10500
            p Cant: 7
          div(class="cntBtnCard")
            a(href="./sale.html" class="btn btnSaleCard") Vender